{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Greetings</span>
                <span class="down">I am YuryLobkov</span>
            </h1>
            <p class="header-subtitle">PYTHON/</p>
            <p class="header-subtitle">FULL STACK DEVELOPER</p>

            <a class="btn btn-primary" href="#portfolio">Visit My Works</a>
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="" id="about">
        <!-- container -->
        <div class="container">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img">
                    <img src="./static/assets/imgs/ava.png" class="about-img" alt="avatar">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        I am full stack web developer with high potential. I`m focusing on building high quality web apps within short amount of time.
                        <br>
                        Now my stack includes: Python Django Flask HTML5 CSS JS React.js
                    </p>
                    <a class="btn btn-outline-primary mt-4" href = '/download_cv'>Download CV</a>
                    <!-- <button >Download CV</button> -->
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- my_works section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">My recent works</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="http://raccoonenot.pythonanywhere.com/" class="portfolio-card">
                        <img src="static/assets/imgs/cooktail.png" class="portfolio-card-img" alt="bartender-portal">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>CookTail</h5>
                                <p class="font-weight-normal">Web portal for home bartenders</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://t.me/TengePeso_bot" class="portfolio-card">
                        <img class="portfolio-card-img" src="static/assets/imgs/tg_bot.png" class="img-responsive rounded" alt="telegram-bot">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Tenge-Peso bot</h5>
                                <p class="font-weight-normal">Telegram bot for on-go converting currency rates</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="static/assets/imgs/cmd_questionmark.png" class="img-responsive rounded" alt="">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Upcoming project</h5>
                                <p class="font-weight-normal">This project could be yours</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of my_works section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">Feel free to</p>
            <h6 class="section-title mb-5">Contact Me</h6>
            <!-- contact form -->
            <form action="submit_form" method="post" action="" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input name="Username" type="text" size="50" class="form-control" placeholder="Your Name" required>                 
                        </div>
                        <div class="form-group col-sm-6">
                            <input name="mail" type="email" class="form-control" placeholder="Enter Email"requried>                 
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Your message for me" required></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary">                  
                    </div>
                </div>  
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->
    
{% endblock %}